@media only screen and (max-width: 600px) 
  {
    #content
    {
        width: 100%;
        height: 1000px;
        background-color: white;
        padding-top: 100px;
        border-radius: 0%;
    }

    #logo
    {
        display: none;
    }

    #facebook
    {
        width: 100px;
        height: 100px;
    }
    
    /*#rozwiniete
    {
        width: 100%;
        height: 100%;
        background-color: rgb(245, 59, 59);
        position: fixed;
        margin-top: 75px;
        display: none;
        padding-bottom: 20px;
    }*/

    #rozwiniete
    {
        width: 100%;
    }

    #logo
    {
        display: none;
    }

    .paragrafwcontent
    {
        text-align: justify; 
        font-size: 22px;
    }

    .textcontent
    {
        text-align: justify; 
        font-size: 22px; 
        margin-left: 10px; 
        margin-right: 10px;
    }


  }