html 
{
 width: auto;
}

body
{
    overflow-x: hidden;
    width: 100%;
    height: 1600px;
    font-family: Arial;
    background-image: url("img/5.jpg");
    background-repeat: repeat-y;
    background-size: auto;
}

header
{
    width: 100%;
}

#trzypasy
{
    padding-top: 20px;
    width: 50px;
    padding-left: 20px;
    z-index: 100;
    position: relative;
}
#dwapasy
{
    border-top: 4px rgb(255, 255, 255) solid;
    border-bottom: 4px rgb(255, 255, 255) solid;
    padding-top: 20px;
    width: 50px;
}

#srodkowypas
{
    border-top: 4px rgb(255, 255, 255) solid ;
    margin-top: -16px;
    width: 50px;
}

.nav
{
    width: 100%;
    height: 70px;
    background-color: rgb(233, 53, 53);
    margin-top: -8px;
    margin-left: -8px;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 10;
	top: 0;
	z-index: 100;
}


#content
{
    width: 80%;
    height: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: -100px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

footer
{
    width: 100%;
    height: 350px;
    background-color: rgb(233, 53, 53);
    margin-bottom: -8px;
    margin-left: -8px;
    vertical-align: bottom;
}

#rozwiniete
{
    display: none;
    width: 1000%;
    background-color: tomato;
    margin-left: -40px;
    margin-top: -52px;
    height: 1900px;
}

#rozwiniete > ol
{
    padding-top: 30px;
    list-style-type: none;
    width: 100%;
    padding-top: 80px;
}

#rozwiniete > ol > li
{
    width: 88%;
    border-bottom: rgb(150, 17, 17) 2px solid;
    line-height: 35px;
    margin-top: -20px;
}

#rozwiniete > ol > li > p
{
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-top: 16px;
    padding-left: 20px;
}

#trzypasy:hover > #rozwiniete
{
    display: block;
} 

#rozwiniete > ol > li:hover
{
    cursor: pointer;
    background-color: rgb(185, 52, 52);
}

#rozwiniete > a
{
    text-decoration: none;
}