body
{
    background-image: url("imgs/5.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    margin: 0;
    font-family: Arial; 
}

nav
{
    width: 100%;
    height: 80px;
    background-color: red;
    float: left;
}

#trzypaski
{
    width: 65px;
    margin: 20px;
}

#gornypas
{
    border-top: 5px white solid;
}

#srodkowypas
{
    border-top: 5px white solid;
    margin-top: 10px;
}

#dolnypas
{
    border-top: 5px white solid;
    margin-top: 10px;
}

main
{
    padding-top: 200px;
}

#content
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 2000px;
    background-color: white;
    padding-top: 100px;
    border-radius: 2%;
    margin-bottom: 100px;;
}

footer
{
    width: 100%;
    height: 300px;
    background-color: rgb(190, 2, 2);
}

footer p#copyrights
{
    color: white;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}

#facebook
{
    width: 200px;
    height: 200px;
    background-color: #3b5998;
    float: left;
    margin-left: 20px;
    border-radius: 40px;
}

#facebook:hover
{
    cursor: pointer;
}

#instagram:hover
{
    cursor: pointer;
}

.navbar 
    {
    overflow: hidden;
    background-color: red;
    position: fixed;
    top: 0;
    width: 100%;
    }

    .navbar a 
    {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

.rozwiniete
{
    width: 25%;
    height: 100%;
    background-color: red;
    position: fixed;
    display: block;
    
}

.rozwiniete > ol
{
    list-style-type: none;
}

.rozwiniete > ol > li
{
    background-color: red;
    border-bottom: rgb(156, 23, 23) 3px solid;
    padding: 20px;
    width: 100%;
    margin-left: -40px;
    padding-left: 50px;
    margin-left: -70px; 
    color: white;
}
.rozwiniete > ol > li  > a
{
    text-decoration: none;
    list-style: none;
    color: white;
    width: 200px;
    height: ;
}

#menunazwa
{
    font-size: 50px;
    margin-top: 75px;
    text-align: center;
    color: white;
    border: white 2px solid;
}

.rozwiniete > ol > li:hover
{
    cursor: pointer;
    background-color: rgb(190, 2, 2);
}

#trzypaski:hover
{
    cursor: pointer;
}
#trzypaski:hover > .rozwiniete 
{
    display: block;
    z-index: 1000;
}


@media only screen and (max-width: 600px) 
  {
    #content
    {
        width: 100%;
        height: 1000px;
        background-color: white;
        padding-top: 100px;
        border-radius: 0%;
    }
    #facebook
    {
        width: 100px;
        height: 100px;
    }
    
    #instagram
    {
        width: 100px;
        height: 100px;
    }

    .rozwiniete
    {
        width: 100%;
        height: 100%;
        background-color: red;
        position: fixed;
        display: block;
        
    }

  }